<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="icon" href="{{ url_for('static', filename='src/logo.png') }}" type="image/icon type">
    <title>About Our Founders - Tutors Beat Tumors</title>
</head>
<body>

<div class="topnav" id="myTopnav">
    <a href="/"><img src="{{ url_for('static', filename='src/logo.png') }}" class="logo" style=" width:2.5em; min-width: 30px;" alt="Tutors Beat Tumors Logo"></a>
    <a href="/mission/"><h1>Mission</h1></a>
    <a href="/faq/"><h1>FAQ</h1></a>
    <a href="/about/"><h1>About</h1></a>
    <a href="/courses/"><h1>Courses</h1></a>
    <a href="/tutor/"><h1>Be a Tutor</h1></a>
    <a href="/book/" class="active"><h1>Book A Session</h1></a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()"><i class="fa fa-bars"></i></a>
</div>

<div class="wrapper" id="wrapper">
    <h2>About Us</h2>

    <div class="founders">
        <div class="founder">
            <h3>Emory Williams</h3>
            <h4>President</h4>
            <img src="{{ url_for('static', filename='src/EmoryWilliams.jpg') }}" alt="Emory Williams">
        </div>
        <div class="founder">
            <h3>Bruce Ren</h3>
            <h4>Vice President</h4>
            <img src="{{ url_for('static', filename='src/BruceRen.jpg') }}" alt="Bruce Ren">
        </div>
        <div class="founder">
            <h3>Yuri Sung</h3>
            <h4>Head of Marketing</h4>
            <img src="{{ url_for('static', filename='src/YuriSung.jpg') }}" alt="Yuri Sung">
        </div>
        <div class="founder">
            <h3>Tatyana Solntseva</h3>
            <h4>Head of Marketing</h4>
            <img src="{{ url_for('static', filename='src/TatyanaSolntseva.jpg') }}" alt="Tatyana Solntseva">
        </div>
        <div class="founder">
            <h3>Grayson Allen</h3>
            <h4>Head Tutor</h4>
            <img src="{{ url_for('static', filename='src/noprofile.png') }}" alt="Grayson Allen">
        </div>
        <div class="founder">
            <h3>Wyatt Zellers</h3>
            <h4>Treasurer</h4>
            <img src="{{ url_for('static', filename='src/noprofile.png') }}" alt="Wyatt Zellers">
        </div>
    </div>
</div>

<div class="footer">
    <h1 style="float: left; margin: .5%; margin-right: 3%;">TBT@2023</h1>
    <a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/tutors_beat_tumors/" class="icon"><i class="fa-brands fa-instagram fa-2x"></i></a>
    <a target="_blank" rel="noopener noreferrer" href="mailto:tutorbeattumor@gmail.com" class="icon"><i class="fa-regular fa-envelope fa-2x"></i></a>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='home.js') }}"></script>

</body>
</html>
