<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TutorsBeatTumors</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="stylesheet" href="home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="icon" href="{{ url_for('static', filename='src/logo.jpg') }}" type="image/icon type">

    
</head>
<body>
    <title>Tutors Beat Tumors</title>

    <div class="topnav" id="myTopnav">
        <!-- <a href="/" style="display: inline-block"><img src="{{ url_for('static', filename='src/tbt_logo.jpg') }}" style=" float: left; width: 5%; display: block;"></a> -->
        <img src="{{ url_for('static', filename='src/logo.jpg') }}" style=" float: left; width: 4vw; min-width: 50px; display: block;">
  
                  
          <a href="/"><h1>Tutors Beat Tumors</h1></a>
        <a href="/mission/"><h1>Mission</h1></a>
        <a href="/whyus/"><h1>Why Us?</h1></a>
        <a href="/contact/"><h1>Contact</h1></a>
        <a href="/faq/"><h1>FAQ</h1></a>
        <a href="/about/"><h1>About</h1></a>


        <a href="/book/" class="active"><h1>Book A Session</h1></a>

        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>

      </div>

    <div class = "wrapper" id="wrapper" style="overflow-wrap: break-word;">

        <h2 class="fade-in">
            Thank you for showing interest!
        </h2>

        <h3>
            As of right now our site does not have the capabilities to send/recieve forms. <br/>

        </h3>

        <h3 style="font-size: xx-large; color: rgba(8, 156, 106, 0.842); margin-top: 2%; margin-bottom: 3%;">Please direct all bookings or inquiries to the email 
            <br/> Or alternatively, fill out the             
            <a class= "gradient-text fade-in" target="_blank" rel="noopener noreferrer" href="https://docs.google.com/forms/d/1USICMvvnZymoKm2d3un3yuGdcumyJ0mjyU2X24kF1BM/viewform?ts=63bd7eaf&edit_requested=true">Form</a>
        </h3>


            
            <h3 class="gradient-text fade-in">tutorbeattumor@gmail.com</h3>


            

        <h3 style="margin-bottom: 15%;">
            Our tutors are availble to tutor face to face or online <br/>
            We charge $20/hour and all proceeds are donated  <br/>
            We tutor all subjects K-11  <br/>
            We tutor SAT Reading/Writing and Math  <br/>
            Tutors all have a stringent 3.9GPA requirement  <br/>


        </h3>

        


        </div>

        <div class="footer">
            <!-- <i class="fa-brands fa-instagram fa-2x" style= "margin-right: 1%;"><a href="https://www.instagram.com/tutors_beat_tumors/"></a></i> -->
            <h1 style="float: left; margin: .5%; margin-right: 3%;">Tutors Beat Tumors</h1>
            <!-- <h1 style="float: left; margin: .5%;">tutorbeattumor@gmail.com</h1> -->

            <a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/tutors_beat_tumors/" style="margin-right: 1%; color: white;"><i class="fa-brands fa-instagram fa-2x"></i></a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/tutors_beat_tumors/" style="margin-right: 1%; color: white;"><i class="fa-brands fa-facebook fa-2x"></i></a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.twitter.com/tutors_beat_tumors/" style="margin-right: 1%; color: white;"><i class="fa-brands fa-twitter fa-2x"></i></a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/tutors_beat_tumors/" style="margin-right: 1%; color: white;"><i class="fa-brands fa-linkedin fa-2x"></i></a>

            
        </div>
    

    </div>
    

    
</body>
</html>

<script type="text/javascript" src= {{ url_for('static', filename='home.js')}}></script>