<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="stylesheet" href="home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="icon" href="{{ url_for('static', filename='src/logo.png') }}" type="image/icon type">

    
</head>
<body>
    <title>FAQ - Tutors Beat Tumors</title>

    <div class="topnav" id="myTopnav">
        <!-- <a href="/" style="display: inline-block"><img src="{{ url_for('static', filename='src/tbt_logo.png') }}" style=" float: left; width: 5%; display: block;"></a> -->
        <a href="/"><img src="{{ url_for('static', filename='src/logo.png') }}" style=" width:2.5em; min-width: 30px;"></a>
  
                  
        <!-- <a href="/"><h1>Home</h1></a> -->
        <a href="/mission/"><h1>Mission</h1></a>
        <a href="/faq/"><h1>FAQ</h1></a>
        <a href="/about/"><h1>About</h1></a>
        <a href="/courses/"><h1>Courses</h1></a>
        <a href="/tutor/"><h1>Be a Tutor</h1></a>


        <a href="/book/" class="active"><h1>Book A Session</h1></a>

        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>

      </div>

    <div class = "wrapper" id="wrapper">

        <h2>
            FAQ
        </h2>

        <h2 style="font-size: 200%; margin-bottom: 0%;">
            How much do you charge?
        </h2>

        <h3>
            We charge $20 per hour
        </h3>


        <h2 style="font-size: 200%; margin-bottom: 0%;">
            What days are you available to tutor?
        </h2>

        <h3>
            Availbility depends on the day. Contact us for the latest information.
        </h3>

        <h2 style="font-size: 200%; margin-bottom: 0%;">
            Where are you located?
        </h2>

        <h3>
            We are located in Marietta GA, 30062. We can tutor online through zoom or meetup at a local library or at your house. 
        </h3>

        <h2 style="font-size: 200%; margin-bottom: 0%;">
            Are you a non-profit?
        </h2>
        <h3>
            Yes. We are a registered 501(c)(3) non-profit with an EIN of 92-1531253. All profits are donated to https://www.bafound.org/
        </h3>

      







        


        </div>

        <div class="footer">
            <!-- <i class="fa-brands fa-instagram fa-2x" style= "margin-right: 1%;"><a href="https://www.instagram.com/tutors_beat_tumors/"></a></i> -->
            
            <h1 style="float: left; margin: .5%; margin-right: 3%;">TBT@2023</h1>
            <!-- <h1 style="float: left; margin: .5%;">tutorbeattumor@gmail.com</h1> -->
            <a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/tutors_beat_tumors/" class="icon"><i class="fa-brands fa-instagram fa-2x"></i></a>
            <a target="_blank" rel="noopener noreferrer" href="mailto:tutorbeattumor@gmail.com" class="icon"><i class="fa-regular fa-envelope fa-2x"></i></a>
            <!-- <a target="_blank" rel="noopener noreferrer" href="https://www.twitter.com/tutors_beat_tumors/" class="icon"><i class="fa-brands fa-twitter fa-2x"></i></a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/tutors_beat_tumors/" class="icon"><i class="fa-brands fa-linkedin fa-2x"></i></a> -->

            
        </div>
    

    </div>
    

    
</body>
</html>

<script type="text/javascript" src= {{ url_for('static', filename='home.js')}}></script>