<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="stylesheet" href="home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="icon" href="{{ url_for('static', filename='src/logo.jpg') }}" type="image/icon type">

    
</head>
<body>
    <title>Tutors Beat Tumors</title>

    <div class="topnav" id="myTopnav">
        <!-- <a href="/" style="display: inline-block"><img src="{{ url_for('static', filename='src/tbt_logo.jpg') }}" style=" float: left; width: 5%; display: block;"></a> -->
        <img src="{{ url_for('static', filename='src/logo.jpg') }}" style=" float: left; width: 4vw; min-width: 50px; display: block;">
  
                  
          <a href="/"><h1>Tutors Beat Tumors</h1></a>
        <a href="/mission/"><h1>Mission</h1></a>
        <a href="/whyus/"><h1>Why Us?</h1></a>
        <a href="/faq/"><h1>FAQ</h1></a>
        <a href="/about/"><h1>About</h1></a>


        <a href="/book/" class="active"><h1>Book A Session</h1></a>

        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>

      </div>

    <div class = "wrapper" id="wrapper">

        <h2>
            FAQ
        </h2>

        <h2 style="font-size: 200%; margin-bottom: 0%;">
            How much do you charge?
        </h2>

        <h3>
            We charge $20 per hour
        </h3>

        <h2 style="font-size: 200%; margin-bottom: 0%;">
            What subjects do you tutor?
        </h2>

        <h3>
            We tutor all classes K-11 including Alegebra I / II, Calculus AB / BC, Biology, and Physics. We also offer SAT classes. 
        </h3>

        <h2 style="font-size: 200%; margin-bottom: 0%;">
            What days are you available to tutor?
        </h2>

        <h3>
            Availbility depends on the day. Contact us for more information.
        </h3>

        <h2 style="font-size: 200%; margin-bottom: 0%;">
            Are you a non-profit?
        </h2>

        <h3>
            Yes. We have recently filed for non-profit status and obtained an EIN of 92-1531253. All profits are donated to https://www.bafound.org/
        </h3>






        


        </div>

        <div class="footer">
            <!-- <i class="fa-brands fa-instagram fa-2x" style= "margin-right: 1%;"><a href="https://www.instagram.com/tutors_beat_tumors/"></a></i> -->
            
            <h1 style="float: left; margin: .5%; margin-right: 3%;">Tutors Beat Tumors</h1>
            <!-- <h1 style="float: left; margin: .5%;">tutorbeattumor@gmail.com</h1> -->
            <a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/tutors_beat_tumors/" style="margin-right: 1%; color: white;"><i class="fa-brands fa-instagram fa-2x"></i></a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/tutors_beat_tumors/" style="margin-right: 1%; color: white;"><i class="fa-brands fa-facebook fa-2x"></i></a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.twitter.com/tutors_beat_tumors/" style="margin-right: 1%; color: white;"><i class="fa-brands fa-twitter fa-2x"></i></a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/tutors_beat_tumors/" style="margin-right: 1%; color: white;"><i class="fa-brands fa-linkedin fa-2x"></i></a>

            
        </div>
    

    </div>
    

    
</body>
</html>

<script type="text/javascript" src= {{ url_for('static', filename='home.js')}}></script>