<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TutorsBeatTumors</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="stylesheet" href="home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">

    
</head>
<body>

    <div class="topnav" id="myTopnav">
        <a href="/"><h1>Home</h1></a>
        <a href="/mission/"><h1>Mission</h1></a>
        <a href="/whyus/"><h1>Why Us?</h1></a>
        <a href="/contact/"><h1>Contact</h1></a>
        <a href="/faq/"><h1>FAQ</h1></a>
        <a href="/about/"><h1>About</h1></a>


        <a href="/book/" class="active"><h1>Book A Session</h1></a>

        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>

      </div>

    <div class = "wrapper" id="wrapper">

        <div class = "left">
            <div class="fade-in">
                <h3 style="margin-top: 5%; color:rgba(13, 80, 8, 0.372);;"  >New! Rates Starting at $20 / hour</h3>
                <h2 ><b>Tutoring. Simplified.</b></h2>
                <h3>Offering tutoring in all subjects K-11 at cheap rates</h3>
    
                <h3>Availble through in person or online tutoring</h3>
                <h3 style="margin-bottom: 7%;">Hand-Picked Tutors with a 3.9 GPA requirement</h3>

            </div>
           

            <a href="/book/" class="book">Book A Session → </a>

            <!-- <i class="fa-solid fa-brain fa-5x"></i> -->

            
        </div>

        <div class= "right">


            <div class="mySlides fade">
                
                <img src="{{ url_for('static', filename='src/tbt.jpg') }}" style="width: 100%; height: 100%;">
              </div>
            
              <div class="mySlides fade">
                
                <img src="{{ url_for('static', filename='src/tutorimg.jpg') }}" style="width: 100%; height: 100%;">
                
                
              </div>

                <!-- <a class="prev" onclick="plusSlides(-1)">&#10094;</a> -->
                <a class="next" onclick="plusSlides(1)">Next &#10095;</a>



        </div>

        <div class="footer">
            <!-- <i class="fa-brands fa-instagram fa-2x" style= "margin-right: 1%;"><a href="https://www.instagram.com/tutors_beat_tumors/"></a></i> -->
            
            <h1 style="float: left; margin: .5%;"></h1>
            <a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/tutors_beat_tumors/" style="margin-right: 1%; color: white;"><i class="fa-brands fa-instagram fa-2x"></i></a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/tutors_beat_tumors/" style="margin-right: 1%; color: white;"><i class="fa-brands fa-facebook fa-2x"></i></a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.twitter.com/tutors_beat_tumors/" style="margin-right: 1%; color: white;"><i class="fa-brands fa-twitter fa-2x"></i></a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/tutors_beat_tumors/" style="margin-right: 1%; color: white;"><i class="fa-brands fa-linkedin fa-2x"></i></a>

            
        </div>
    

    </div>
    

    
</body>
</html>

<script type="text/javascript" src= {{ url_for('static', filename='home.js')}}></script>