<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="stylesheet" href="home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="icon" href="{{ url_for('static', filename='src/logo.png') }}" type="image/icon type">

    
</head>
<body>
  <title>Tutoring Service in Marietta and Roswell - Tutors Beat Tumors</title>
     

    <div class="topnav" id="myTopnav">
      <a href="/"><img src="{{ url_for('static', filename='src/logo.png') }}" style=" width:2.5em; min-width: 30px;"></a>

                
      <a href="/"><h1>Home</h1></a>
      <a href="/mission/"><h1>Mission</h1></a>
      <a href="/faq/"><h1>FAQ</h1></a>
      <a href="/about/"><h1>About</h1></a>


      <a href="/book/" class="active"><h1>Book A Session</h1></a>

      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>

      </div>

    <div class = "wrapper" id="wrapper">
      

        <div class = "left">
            <div class="fade-in">

                <h3 style="margin-top: 3%; color:rgba(13, 80, 8, 0.372);">New! Rates Starting at $20 / hour</h3>
                <h2 ><b>Tutors. Beat. Tumors.</b></h2>

                <h3 >

                  Student led leaders providing tutoring </br> 
                  service around the clock to help their peers </br> 
                  stay ahead of the competition. </br> 
                  Located in Marietta, GA, 30062
                  
                  </h3>
    

                <h3 style="margin-bottom: 10%;">100% of proceeds are donated</h3>

                <a href="/book/" class="book"><h1>Book A Session <i class="fa-solid fa-arrow-right"></i></h1></a>


                <!-- <h2>test</h2> -->

            </div>
           
            <!-- <i class="fa-solid fa-brain fa-5x"></i> -->
        </div>

        <div class= "right">


            <div>
                
                <img src="{{ url_for('static', filename='src/tbt.jpg') }}" style="width: 100%; min-width: 350px; margin-bottom: 5%;">
              </div>
            
              



        </div>


        </div>

        <!-- stats -->

        <div class="stats-container">
          <div class="stats" style="float: left;">
            <main>
              <blockquote>
                
                <h1 style="font-size: 150%;"><div id="counter-hours"><i class="fa-regular fa-clock"></i> Hours Tutored: 50+</div></h1>
  
              </blockquote>
            </main>

          </div>

          <div class="stats" style="float: left;">
            <main>
              <blockquote>
                
                <h1 style="font-size: 150%;"><div id="counter-tutors"><i class="fa-solid fa-chalkboard-user"></i> Availble Tutors: 10+</div></h1>
  
              </blockquote>
            </main>

          </div>

          <div class="stats" style="float: left; ">
            <main>
              <blockquote>
                
                <h1 style="font-size: 150%;"><div id="counter-money"><i class="fa-solid fa-money-bill"></i></i> Money Raised: $900+</div></h1>
  
              </blockquote>
            </main>

          

          </div>

        
          
          
            
        </div> 

        <!-- about us -->

        <div class="about-us-wrapper">
      
          
          <div class="about-us-left reveal">
            
            <img src="{{ url_for('static', filename='src/logo_more2.png') }}" style="width: 100%; min-width: 350px; margin-bottom: 5%;">
            
          </div>

          <div class="about-us-right reveal">

            <h2 class="about-us-text" style="font-size: 200%;">Student Established Non-profit, </br> Dedicated to help the community. </h2>
            <h3 class="about-us-text" style="font-size: 150%;">We aim to help students master their educational goals  
              by providing unparralled tutoring service at low cost, while 
              donating all profits to researchers studying brain tumors
            
            </h3>

            <button type="button" class="collapsible">Competitive Rates </button>
            <div class="content">
              <p>Our tutors are student volunteers who are not paid to tutor, therefore we have the ability to offer low rates. Our current rates are $20 / hour and every dollar we profit is donated to brain research</p>
            </div>

            <button type="button" class="collapsible">High Availbility</button>
            <div class="content">
              <p>With the multitude of tutors at your service, we are both flexible and lenient with sheduling. We offer both in person (preferred) and online classes. We can do indiviual tutoring (preferred) and group tutoring. We are able to cater to your child's specific needs. </p>
            </div>

            <button type="button" class="collapsible">Experienced Tutors</button>
            <div class="content">
              <p>Our tutors are highly qualified to tutor. Each tutor is screened looking at grades, experience working with children, and attitudes. If you do not like your chosen teacher, you are have the ability to switch to another at no additional charge.</p>
            </div>

            <button type="button" class="collapsible">Active Staff</button>
            <div class="content">
              <p>Our staff is highly respondent in checking emails and responding to questions. Do not just settle with the cold shoulder of large tutoring companies.</p>
            </div>


          </div>

        </div>

        <!-- classes offered -->

        <div class="classes-offered-text">
          <h2 style="font-size: 200%; margin-left: 5%;">  
            Offering tutoring in all subjects K-11, </br>
            our tutors are knowlegable in many fields
          </h2>

          <h3 style="font-size: 150%;">
            Tutors Beat Tumors only elects tutors that have </br>
            previously taken the class. Having to learn the </br>
            content as a student lets our tutors teach your </br>
            child in the best and most efficient ways possible. 
            
          </h3>

          <div class="classes-offered-wrapper">

              <div class="classes-offered-info reveal" style="background-color: #edceed;">

                <h2 style="font-size: 150%; margin-bottom: 0%;">Standard Courses</h2>
                <h3 style="font-size: 130%; margin-bottom: 3%;">All on-level and honors core classes  </br>
                  such as Math, Science, Social Studies, </br>
                  Language Arts </br>
                
                </h3>
    
                
                <h2 style="font-size: 150%; margin-bottom: 0%;">AP Classes</h2>
                <h3 style="font-size: 130%; margin-bottom: 3%;">Most AP classes such as AP Biology, </br>
                  AP Calculus AB/BC, AP US History
                </h3>
    
    
                <h2 style="font-size: 150%; margin-bottom: 0%;">SAT</h2>
                <h3 style="font-size: 130%; margin-bottom: 3%;">All SAT sections including </br>
                SAT Reading, SAT Writing, SAT Math
                </h3>

              </div>

              <div class="classes-offered-graphics reveal">

                <div>
                  <img src="{{ url_for('static', filename='src/math.png') }}" class="classes-offered-graphics-individual">
                </div>
                <div>
                  <img src="{{ url_for('static', filename='src/science.png') }}" class="classes-offered-graphics-individual">
                </div>
                <div>
                  <img src="{{ url_for('static', filename='src/literature.png') }}" class="classes-offered-graphics-individual">
                </div>
                <div>
                  <img src="{{ url_for('static', filename='src/history.png') }}" class="classes-offered-graphics-individual">
                </div>

              </div>

              <div class="classes-offered-graphics reveal">

                <div>
                  <img src="{{ url_for('static', filename='src/apcalc.png') }}" class="classes-offered-graphics-individual">
                </div>
                <div>
                  <img src="{{ url_for('static', filename='src/apush.png') }}" class="classes-offered-graphics-individual">
                </div>
                <div>
                  <img src="{{ url_for('static', filename='src/apphysics.png') }}" class="classes-offered-graphics-individual">
                </div>
                <div>
                  <img src="{{ url_for('static', filename='src/apbio.png') }}" class="classes-offered-graphics-individual">
                </div>

              </div>

              <div class="classes-offered-graphics reveal" >

                <div>
                  <img src="{{ url_for('static', filename='src/sat.png') }}" class="classes-offered-graphics-individual">
                </div>

                <div style="margin-top: 4%; height: 100%;">
                  <a href="/courses/" class="btn-see-all-courses" style="width: 43%;"><h1>See All Courses <i class="fa-solid fa-arrow-right"></i></h1></a>
                </div>

              </div>

          </div>


        </div>
        

        <div class="footer">
            <!-- <i class="fa-brands fa-instagram fa-2x" style= "margin-right: 1%;"><a href="https://www.instagram.com/tutors_beat_tumors/"></a></i> -->
            
            <h1 style="float: left; margin: .5%; margin-right: 3%;">TBT@2023</h1>
            <!-- <h1 style="float: left; margin: .5%;">tutorbeattumor@gmail.com</h1> -->
            <a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/tutors_beat_tumors/" class="icon"><i class="fa-brands fa-instagram fa-2x"></i></a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/tutors_beat_tumors/" class="icon"><i class="fa-brands fa-facebook fa-2x"></i></a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.twitter.com/tutors_beat_tumors/" class="icon"><i class="fa-brands fa-twitter fa-2x"></i></a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/tutors_beat_tumors/" class="icon"><i class="fa-brands fa-linkedin fa-2x"></i></a>

            
        </div>
    

    </div>
    

    
</body>
</html>

<script type="text/javascript" src= {{ url_for('static', filename='home.js')}}></script>