<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TutorsBeatTumors</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="stylesheet" href="home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="icon" href="{{ url_for('static', filename='src/logo.jpg') }}" type="image/icon type">
    
    
</head>
<body>
    <title>Tutors Beat Tumors</title>

    <div class="topnav" id="myTopnav">
        <!-- <a href="/" style="display: inline-block"><img src="{{ url_for('static', filename='src/tbt_logo.jpg') }}" style=" float: left; width: 5%; display: block;"></a> -->
        <img src="{{ url_for('static', filename='src/logo.jpg') }}" style=" float: left; width: 4vw; min-width: 50px; display: block;">
  
                  
          <a href="/"><h1>Tutors Beat Tumors</h1></a>
        <a href="/mission/"><h1>Mission</h1></a>
        <a href="/whyus/"><h1>Why Us?</h1></a>
        <a href="/contact/"><h1>Contact</h1></a>
        <a href="/faq/"><h1>FAQ</h1></a>
        <a href="/about/"><h1>About</h1></a>


        <a href="/book/" class="active"><h1>Book A Session</h1></a>

        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>

      </div>

    <div class = "wrapper" id="wrapper">
        
        <div class="fade-in">
            <h2>Our Mission</h2>
            <h3 style="margin-bottom: 5%;">In 2023 an estimated 73,000 people will be diagnosed with a brain tumor. Also, Brain aneurysms are one of the least studied phenomena in the medical world. In fact, the federal government only spends two dollars per year on research per person afflicted. Our mission is to raise money and spread awareness of brain aneurysms and tumors while helping students in our community stay one step ahead. </h3>
            <h2>Our Story</h2>
            <h3 style="margin-bottom: 5%;">A simple initiation between three high school students sparked the creation of a non-profit organization. Since the three of us met in middle school, we became friends, helping each other learn and prepare for exams. Eventually, we took our love of learning and bestowed it upon others. We started by occasionally explaining a concept to our friends or helping with a complex math problem another student was struggling with. These interactions would soon lead to full-on tutoring sessions with our peers. In a way, teaching the material to our peers provided the basis for our organization. We initially started to tutor our peers as a way of helping ourselves understand the content better while supporting other confused classmates. It wasn’t long after we concluded that there might be a future with our tutoring. Instead of profiting from this tutoring, we wanted to give back to the community that helped us get where we are today.
            </h3>
            <h2>Our Tutors</h2>
            <h3 style="margin-bottom: 10%;">Our tutors are hand selected for the subjects they teach and have a top 10% GPA requirement. We have tutors in all Elementary/Middle school Math, Science, Reading, English, Social Studies, as well as most high school subjects including SAT. 100% of the proceeds are donated to https://www.bafound.org/. To book a session, customers email tutorbeattumor@gmail.com.</h3>
        </div>


        
        

        <div class="footer">

            <h1 style="float: left; margin: .5%;">Tutors Beat Tumors</h1>
            <a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/tutors_beat_tumors/" style="margin-right: 1%; color: white;"><i class="fa-brands fa-instagram fa-2x"></i></a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/tutors_beat_tumors/" style="margin-right: 1%; color: white;"><i class="fa-brands fa-facebook fa-2x"></i></a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.twitter.com/tutors_beat_tumors/" style="margin-right: 1%; color: white;"><i class="fa-brands fa-twitter fa-2x"></i></a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/tutors_beat_tumors/" style="margin-right: 1%; color: white;"><i class="fa-brands fa-linkedin fa-2x"></i></a>

            
        </div>

    </div>

    
</body>
</html>

<script type="text/javascript" src= {{ url_for('static', filename='home.js')}}></script>