<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="stylesheet" href="home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="icon" href="{{ url_for('static', filename='src/logo.png') }}" type="image/icon type">
    
    
</head>
<body>
    <title>Our Mission - Tutors Beat Tumors</title>

    <div class="topnav" id="myTopnav">
        <!-- <a href="/" style="display: inline-block"><img src="{{ url_for('static', filename='src/tbt_logo.png') }}" style=" float: left; width: 5%; display: block;"></a> -->
        <a href="/"><img src="{{ url_for('static', filename='src/logo.png') }}" style=" width:2.5em; min-width: 30px;"></a>
  
                  
        <!-- <a href="/"><h1>Home</h1></a> -->
        <a href="/mission/"><h1>Mission</h1></a>
        <a href="/faq/"><h1>FAQ</h1></a>
        <a href="/about/"><h1>About</h1></a>
        <a href="/courses/"><h1>Courses</h1></a>
        <a href="/tutor/"><h1>Be a Tutor</h1></a>

        <a href="/book/" class="active"><h1>Book A Session</h1></a>

        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>

      </div>

    <div class = "wrapper" id="wrapper">
        
        <div>
            <h2>Interested in Being a Tutor?</h2>
            <h3 style="margin-bottom: 5%;">Thank you so much for being interested and passionate about our cause. We would love all the help we can get. All tutors must meet standards in order to maintain our mission to provide the best tutoring service for the lowest rates.
            <br/>
            <br/> • Must be at least a High School Sophmore
            <br/> • Must maintain at least a 3.7 UW (unweighted) and a 4.25 W (weighted) GPA
            <br/> • Must approved by one of our staff by interview to tutor
            <br/>

            <a target="_blank" rel="noopener noreferrer" href="https://docs.google.com/forms/d/e/1FAIpQLSfFjZJDOCSyppW9MCJfGDWeB1lOu0z_5GqZkcaobbaY0kp-bg/viewform" class="btn-see-all-courses form-gradiant" style="width: 30%; background-color: #7800b0b7; margin-top: 2%; margin-left: 0%;"><h1><i class="fa-regular fa-newspaper fa-xl"></i> Fill out the Form <i class="fa-solid fa-arrow-right"></i></h1></a>

            </h3>

            <h3 style="margin-bottom: 5%;">
            <br/>
            <br/>

            We offer service hours to students for each session completed!

            </h3>
            
        </div>


        
        

        <div class="footer">
          <!-- <i class="fa-brands fa-instagram fa-2x" style= "margin-right: 1%;"><a href="https://www.instagram.com/tutors_beat_tumors/"></a></i> -->
          
          <h1 style="float: left; margin: .5%; margin-right: 3%;">TBT@2023</h1>
          <!-- <h1 style="float: left; margin: .5%;">tutorbeattumor@gmail.com</h1> -->
          <a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/tutors_beat_tumors/" class="icon"><i class="fa-brands fa-instagram fa-2x"></i></a>
          <a target="_blank" rel="noopener noreferrer" href="mailto:tutorbeattumor@gmail.com" class="icon"><i class="fa-regular fa-envelope fa-2x"></i></a>
          <!-- <a target="_blank" rel="noopener noreferrer" href="https://www.twitter.com/tutors_beat_tumors/" class="icon"><i class="fa-brands fa-twitter fa-2x"></i></a>
          <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/tutors_beat_tumors/" class="icon"><i class="fa-brands fa-linkedin fa-2x"></i></a> -->

          
      </div>

    </div>

    
</body>
</html>

<script type="text/javascript" src= {{ url_for('static', filename='home.js')}}></script>